<a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
	<span class="icon-bar"></span>
	<span class="icon-bar"></span>
	<span class="icon-bar"></span>
</a>
<%= link_to "TweetLead", root_path, :class => 'brand' %>
<div class="nav-collapse">
	<ul class="nav">
		<li class="active">
			<a href="#"><i class="icon-home icon-white"></i> Dashboard</a>
		</li>
		<li><a href="#"><i class="icon-edit icon-white"></i></a></li>
		<li><a href="#contact"><i class="icon-refresh icon-white"></i> Reload</a></li>
	</ul>


	<ul class="nav pull-right">
		<li>
			<form class="navbar-search pull-right">
				<input type="text" class="search-query" placeholder="@username">
			</form>
		</li>
		<li class="dropdown">
			<a href="#" class="dropdown-toggle" data-toggle="dropdown">
				<i class="icon-cog icon-white"></i>
				Settings<b class="caret"></b>
			</a>
			<ul class="dropdown-menu">
				<li><a href="/accounts"><i class="icon-user"></i> Accounts</a></li>
				<li><a href="#"><i class="icon-file"></i> Text Templates</a></li>
				<li class="divider"></li>
				<li><a href="">Otras Cosas</a></li>
			</ul>
		</li>
		<li>
			<button class="btn btn-success" href="#">Send All</button>
		</li>
	</ul>


</div><!--/.nav-collapse -->

<!-- @ToDo organizar estos iconos 
<ul class="nav">
	<li><a href="/accounts">Accounts</a></li>
	<li><a href="/tweets">Tweets</a></li>
	<li><a href="/profiles">Profiles</a></li>
	<li><a href="/responses">Response Texts</a></li>
	<li><a href="/keywords">Keywords</a></li>
	<li><a href="/searches">Searches</a></li>

	<li><a href="/extract_mentions">Extract Mentions</a></li>
	<li><a href="/get_all_timeline">Get All Timelines</a></li>
	<li><a href="/send">Send Sheduled Messages</a></li>
	<li><a href="/process_searches">Process all searches</a></li>
</ul>
-->