<%= link_to "Home", root_path, :class => 'brand' %>
<ul class="nav">
  <li>
    <%= link_to('Sign up', 'http://www.google.com')  %>
  </li>
  <li><a href="/accounts">Accounts</a></li>
  <li><a href="/tweets">Tweets</a></li>
  <li><a href="/profiles">Profiles</a></li>
  <li><a href="/responses">Response Texts</a></li>
  <li><a href="/keywords">Keywords</a></li>
  <li><a href="/searches">Searches</a></li>

  <li><a href="/extract_mentions">Extract Mentions</a></li>
  <li><a href="/get_all_timeline">Get All Timelines</a></li>
  <li><a href="/send">Send Sheduled Messages</a></li>
  <li><a href="/process_searches">Process all searches</a></li>


</ul>