<a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
	<span class="icon-bar"></span>
	<span class="icon-bar"></span>
	<span class="icon-bar"></span>
</a>
<%= link_to "TweetLead", root_path, :class => 'brand' %>
<div class="nav-collapse">
	<ul class="nav">
		<li class="active">
			<a href="#"><i class="icon-home icon-white"></i> Dashboard</a>
		</li>
		<li><a href="#"><i class="icon-edit icon-white"></i></a></li>
		<li><a href="#contact"><i class="icon-refresh icon-white"></i> Reload</a></li>
	</ul>


	<ul class="nav pull-right">
		<li>
			<form class="navbar-search pull-right">
				<input type="text" class="search-query" placeholder="@username">
			</form>
		</li>
		<li class="dropdown">
			<a href="#" class="dropdown-toggle" data-toggle="dropdown">
				<i class="icon-cog icon-white"></i>
				Settings<b class="caret"></b>
			</a>
			<ul class="dropdown-menu">
				<li><a href="/accounts"><i class="icon-user"></i> Accounts</a></li>                
				<li><a href="/responses"><i class="icon-file"></i> Response Templates</a></li>
				<li><a href="/keywords"><i class="icon-wrench"></i> Keywords</a></li>
				<li><a href="/searches"><i class="icon-zoom-in"></i> Searches</a></li>

				<li class="divider"></li>

				<li><a href="/tweets"><i class="icon-text-width"></i> Tweets</a></li>
				<li><a href="/profiles"><i class="icon-plane"></i> Profiles</a></li>
				<li><a href="/searches_results"><i class="icon-zoom-in"></i> Searches Results</a></li>
				
				<li class="divider"></li>
				
				<li><a href="/extract_mentions"><i class="icon-refresh"></i>Extract Mentions</a></li>
				<li><a href="/get_all_timeline"><i class="icon-refresh"></i>Get All Timelines</a></li>
				<li><a href="/send"><i class="icon-print"></i>Send Sheduled Messages</a></li>
				<li><a href="/process_searches"><i class="icon-eye-open"></i>Process all searches</a></li>
				<li><a href="/launch_senders"><i class="icon-eye-open"></i>Launch Senders</a></li>
			</ul>
		</li>
		<li>
			<button class="btn btn-success" href="#">Send All</button>
		</li>
	</ul>


</div><!--/.nav-collapse -->

